/* Переопределение классов */

.filepondOverride :global(.filepond--drop-label) {
    min-height: 200px !important;
    cursor: pointer;
}

.filepondOverride :global(.filepond--drop-label label) {
    padding: 0 !important;
}

:global(.nav-pills .nav-link.active).navLinkOverride {
    background-color: #212529 !important;
    color: white !important;
}

.navLinkOverride {
    color: #6c757d !important;
}

.navLinkOverride:hover {
    color: #adb5bd !important;
}